{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block stylesheets %}
    <link href="css/frontend/homepage.css" rel="stylesheet">
    <style>
        .trick {
            background-size: cover !important;
            background-position: center;
        }
    </style>
{% endblock %}

{% block body %}
    <section>
        <div id="header">
            <div id="accroche">
                <h2 class="align-middle">SnowTricks!<br>L'annuaire des Tricks de Snowboard</h2>
            </div>
            <a href="#">
                <img src="/img/open-iconic-master/svg/arrow-thick-bottom.svg" height="50" class="fleche">
            </a>
        </div>

        <div class="container mt-4" id="anchor">
            <h3 class="text-center">Les tricks</h3>
            <div class="row">
                <div class="col-1 offset-11">
                    <a href="{{ path('trick.new') }}">
                        <img src="/img/open-iconic-master/svg/plus.svg" height="30" style="background-color: greenyellow">
                    </a>
                </div>
            </div>
            <div class="row flex">
                {% for trick in tricks %}
                    {% for image in images %}
                        {% if image.trick.id == trick.id %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card trick" style="background: url('{{ image.url }}')">
                                        <div class="card-body text-center">
                                            <h6 class="card-title">
                                                <a href="{{ path('trick.show', {id: trick.id}) }}">
                                                    {{ trick.title }}
                                                </a>
                                            </h6>
                                            <div class="float-right">
                                                <a href="{{ path('trick.edit', {id: trick.id}) }}">
                                                    <img src="/img/open-iconic-master/svg/pencil.svg" height="25" style="background-color: yellow">
                                                </a>
                                                <a href="#exampleModal{{ trick.id }}" role="button" data-toggle="modal" data-target="#exampleModal{{ trick.id }}">
                                                    <img src="/img/open-iconic-master/svg/trash.svg" height="25" style="background-color: red        ">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal fade" id="exampleModal{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to delete the trick "{{ trick.title }}"?
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{{ path('trick.delete', {id: trick.id}) }}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {% if nb > 15 %}
                <a href="#">
                    <img src="/img/open-iconic-master/svg/arrow-thick-top.svg" height="50" class="fleche">
                </a>
            {% endif %}
        </div>
    </section>
{% endblock %}
