{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block stylesheets %}
    <link href="/css/frontend/singlepage.css" rel="stylesheet">
    <style>
        .header {
            background-size: cover !important;
            background-position: center !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron" id="detail">
            <div class="header" style="background: url('{% if une.url is defined and une.url != false %}/{{ une.url }}{% elseif replace != null %}/{{ replace }}{% else %}/img/wallpaper.jpg{% endif %}')">
                {% if app.user %}
                <div class="buttons">
                    <a href="{{ path('trick.edit', {id: trick.id}) }}">
                        <img src="/img/open-iconic-master/svg/pencil.svg" height="25" style="background-color: yellow">
                    </a>
                    <a href="#exampleModal" role="button" data-toggle="modal" data-target="#exampleModal">
                        <img src="/img/open-iconic-master/svg/trash.svg" height="25" style="background-color: red        ">
                    </a>
                </div>
                {% endif %}
                <div class="title">
                    <h2 class="text-center">
                        {{ trick.title }}
                    </h2>
                </div>
            </div>
            <div class="container">
                <p class="text-center mt-4" id="btn-medias">
                    <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        See medias
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="col-12 row mb-4">
                            {% for image in trick.getImages() %}
                                <div class="col-12 image" style="background: url('/{{ image.url }}')">
                                    <a href="/{{ image.url }}">
                                        <img src="/img/open-iconic-master/svg/zoom-in.svg" alt="zoom" class="zoom">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card card-body">
                        <div class="col-12 row">
                            {% for video in trick.getVideos() %}
                                <div class="col-12 video">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mt-4" id="medias">
                    <div class="col-6 row mb-4 ml-4">
                        {% for image in trick.getImages() %}
                            <div class="col-3 image" style="background: url('/{{ image.url }}')">
                                <a href="/{{ image.url }}">
                                    <img src="/img/open-iconic-master/svg/zoom-in.svg" alt="zoom" class="zoom" height="30">
                                </a>
                            </div>
                            <div class="col-1"></div>
                        {% endfor %}
                    </div>
                    <div class="col-6 row">
                        {% for video in trick.getVideos() %}
                            <div class="col-1"></div>
                            <div class="col-lg-5 col-md-11 video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row ml-4 mt-4 mr-4">
                    <p>{{ trick.description }}</p>
                </div>
                <div class="row pb-4">
                    <div class="col-8 offset-2">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 spec text-center">
                                <span>Trick publié le :<br>{{ trick.createdAt|date('Y-m-d') }}</span>
                            </div>
                            <div class="col-lg-3 offset-lg-1 col-xs-12 spec text-center">
                                <span>Catégorie :<br>{{ group.title }}</span>
                            </div>
                            <div class="col-lg-3 offset-lg-1 col-xs-12 spec text-center">
                                <span>Mis à jour le :<br>{{ trick.updatedAt|date('Y-m-d') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.user %}
                <hr>
                <div class="row">
                    <div class="col-8 offset-1">
                        {{ form_start(form) }}
                        {{ form_row(form.content) }}
                    </div>
                    <div class="col-2">
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>

                </div>
                {% endif %}
                <hr>
                {% for comment in comments %}
                    <div class="row">
                    <div class="col-2 offset-2">
                        {% if comment.user.photo %}
                            <img src="/{{ comment.user.photo.url }}" width="50" height="50">
                        {% else %}
                            <img src="/img/avatar/default/avatar.jpg" width="50" height="50">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <div class="row ml-2">
                            Le : {{ comment.createdAt|date('Y-m-d') }}, Par : {{ comment.user.firstname }} {{ comment.user.lastname }}{% if comment.updatedAt %} (Mis à jour le : {{ comment.updatedAt|date('Y-m-d') }}){% endif %}<br>
                        </div>
                        <div class="row content">
                            {{ comment.content }}
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
                <div class="pagination pb-4">
                    <span>Page :</span>
                    {% for page in pages %}
                        <a href="{{ path('trick.show', {id: trick.id, page: page}) }}">  {{ page }}  </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# Modal #}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete the trick "{{ trick.title }}"?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ path('trick.delete', {id: trick.id}) }}">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}